# RunConfig
APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000
APP_CONFIG__RUN__DEBUG=1

# DatabaseConfig
APP_CONFIG__DB__URL=postgresql+asyncpg://myuser:mypassword@postgres_db:5432/mydb
APP_CONFIG__DB__HOST=postgres_db
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__USER=myuser
APP_CONFIG__DB__PASSWORD=mypassword
APP_CONFIG__DB__NAME=mydb
APP_CONFIG__DB__ECHO=1

# Access token
# Use the command: python -c "import secrets; print(secrets.token_hex())"
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=b788d7c96784a31612d970323076a48febd1063e06fa653c96ea7c4b85d9c383
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=ef951d63a1a20de080fde20ddd2ce9e5ecdd795dee85b6e25293bd870e8e3615

# RabbitMQ
APP_CONFIG__RABBITMQ__USER=guest
APP_CONFIG__RABBITMQ__PASSWORD=guest
APP_CONFIG__RABBITMQ__HOST=rabbitmq

# Redis
APP_CONFIG__REDIS__HOST=redis

# EmailConfig
APP_CONFIG__EMAIL__ADDRESS="myemail@domain.com"
APP_CONFIG__EMAIL__PASSWORD="mypassword"

# Initial data
APP_CONFIG__INITIAL_DATA__SEED_DATA=1
APP_CONFIG__INITIAL_DATA__SEED_WITH_CLEAN=0